body {
}

#more-links{
    padding-top: 0;
    padding-bottom: 20px;
    background-color: #333333;
    border-top: #feba29 10px solid
}

.link-sections{
    padding-bottom: 21px;
}

.quick-links > li{
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-links{
    color:  #fff;
}

.footer-links:hover{
        color: #EAB029;
}

#footer{
    padding-top: 20px;
    padding-bottom: 20px;
}

#backToTop {
    bottom: -60px;
    width: 50px;
    height: 50px;
    -moz-transition: bottom ease-in-out 0.3s;
    -o-transition: bottom ease-in-out 0.3s;
    -webkit-transition: bottom ease-in-out 0.3s;
    transition: bottom ease-in-out 0.3s;
}